<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
      <button type="button"><a href="/insert"> Insert data</a></button>
      <button type="button"><a href="/select"> Show data</a></button>
  </body>
</html>
